/* CERT PAGE SPECIFIC STYLES */
main{
  padding-top:120px;
}

#main-cert{
  text-align:center;
}

.white-bold .socialaccountlinks-v2-block .social-icons-style-regular .sqs-use--icon, .white-bold .social-account-links-v2-block .social-icons-style-regular .sqs-use--icon{
  fill:#00567e;
}

.course-name{
  font-size:20px;
}

.hero-logo{
  width:76%;
}

@media screen and (min-width: 700px) {
  .hero-logo{
    width:46%;
  }
}